@model IEnumerable<CarOwners.Domain.Entities.Owner>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/_LayoutMain.cshtml";
}

<h2>Owners List</h2>
<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Birthday)</th>
        <th>@Html.DisplayNameFor(model => model.Expirience)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Birthday)</td>
            <td>@Html.DisplayFor(modelItem => item.Expirience)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
                <button class="btn btn-default" id="@item.Id" type="submit">Details</button>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        <tr id="data_@item.Id"></tr>
    }
</table>
<script type="text/javascript">
    $(function () {
        flag = 0;
        $('.btn-default').on('click', function (e) {
            var id_click = e.target.id;
            if (flag == 0) {
                flag = 1;
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Details")/' + id_click,
                    success: function (data) {
                        // заменяем содержимое присланным частичным представлением
                        $('#data_' + id_click).html(data);
                    }
                });
            }
            else {
                $('#data_' + id_click).html(" ");
                flag = 0;
            }
            return false;
        })
    })
</script>
