@model CarOwners.Domain.Entities.Car

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutMain.cshtml";
}

<h2>Car Information</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.CarModel)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        <th>@Html.DisplayNameFor(model => model.Year)</th>
        <th>@Html.DisplayNameFor(model => model.Type)</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Id)</td>
        <td>@Html.DisplayFor(model => model.Name)</td>
        <td>@Html.DisplayFor(model => model.CarModel)</td>
        <td>@Html.DisplayFor(model => model.Price)</td>
        <td>@Html.DisplayFor(model => model.Year)</td>
        <td>@Html.DisplayFor(model => model.Type)</td>
    </tr>
</table>
<h2>Car's owners</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().Id)</th>
        <th>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().Birthday)</th>
        <th>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().Expirience)</th>
    </tr>

    @foreach (var o in Model.Owners)
    {
        <tr>
            <td>@Html.DisplayFor(model => o.Id)</td>
            <td>@Html.DisplayFor(model => o.FirstName)</td>
            <td>@Html.DisplayFor(model => o.LastName)</td>
            <td>@Html.DisplayFor(model => o.Birthday)</td>
            <td>@Html.DisplayFor(model => o.Expirience)</td>
        </tr>
    }
</table>

