@model IEnumerable<CarOwners.Domain.Entities.Car>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/_LayoutMain.cshtml";
}

<h2>Cars List</h2>
<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary"} )
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.CarModel)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        <th>@Html.DisplayNameFor(model => model.Year)</th>
        <th>@Html.DisplayNameFor(model => model.Type)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.CarModel)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@Html.DisplayFor(modelItem => item.Year)</td>
            <td>@Html.DisplayFor(modelItem => item.Type)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        <tr id="@item.Id">
            <td colspan="7">
                <div>
                    <table class="table">
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().Id)</td>
                            <td>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().FirstName)</td>
                            <td>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().LastName)</td>
                            <td>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().Birthday)</td>
                            <td>@Html.DisplayNameFor(model => model.Owners.FirstOrDefault().Expirience)</td>
                        </tr>

                        @foreach (var o in item.Owners)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => o.Id)</td>
                                <td>@Html.DisplayFor(model => o.FirstName)</td>
                                <td>@Html.DisplayFor(model => o.LastName)</td>
                                <td>@Html.DisplayFor(model => o.Birthday)</td>
                                <td>@Html.DisplayFor(model => o.Expirience)</td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
    }
</table>

